<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <h1>Login</h1>
    <div class="login-container">
        <input type="text" placeholder="Enter your name" name="username" class="input-field"><br/>
        <br/>
        <input type="password" placeholder="Enter your password" name="password" class="input-field"><br/>
        <button class="login-button">Login</button>
    </div>
</body>
</html>
