
body {
    background-color: #080710;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 400px;
    padding: 50px 35px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
form {
    color: #fff;
}
form h3 {
    text-align: center;
    margin-bottom: 30px;
}
label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
}
input {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
}
button {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: #080710;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.social {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.social div {
    background-color: rgba(255, 255, 255, 0.27);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}
