<div>
    <h1>Change Password</h1>
    <h3>Enter The Credential below!</h3>
    <form>
        <h3>Password:</h3> <input type="password" name="Password" placeholder="Enter your Password" required>
        <h3>Confirm Password:</h3> <input type="password" name="Confirm_Password" placeholder="Confirm Password" required>
        <h3>E-Mail:</h3> <input type="text" name="E-mail" placeholder="Enter your E-mail" required>
        <button type="submit">Change Password</button>
        <br>
        <a href="#">Forgot Password?</a>
    </form>
</div>